@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .leaflet-container {
  width: 100%;
  height: 100vh;
} */

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

@layer components {
  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(200, 200, 200, 0.5) transparent;
  }
}
